@font-face {
	font-family: 'Times New Roman';
	src: url('fonts/timesi.ttf');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Haettenschweiler';
	src: local('Haettenschweiler'),
		local('HATTEN'),
		url('fonts/HATTEN.ttf');
	letter-spacing: .05ch;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--viewpoint-border-width: calc(.4vw + 0.6rem);
	--section-padding: .8rem;
	font-family: "Haettenschweiler";
	color: lime;
	text-rendering: geometricPrecision;
	image-rendering: pixelated;
}

body {
	background: black;
	background-attachment: fixed;
	background-repeat: round;
	padding: var(--viewpoint-border-width);
	/*
	background-size: 5%;
	image-rendering: pixelated;
	*/
}
html::before {
	content: "";
	width: 100vw;
	height: 100vh;
	position: fixed;
	border-image-source: url("assets/lime_leaves_border.gif");
	border-width: var(--viewpoint-border-width);
	border-style: solid;
	border-image-slice: 16;
	border-image-repeat: round;
	z-index: 100;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: auto;
}

.standart-container {
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
}

.floating-shit {
	position: absolute;
	width: 100%;
	pointer-events: none;
	user-select: none;
}

section {
	padding: 0rem var(--section-padding);
	margin-bottom: .8rem;
}

section:last-child {
	margin-bottom: 0rem;
}

section.first {
	padding-top: 3rem;
}

section.first .logo-info-wrapper {
	max-width: 625px;
	margin: auto;
	text-align: center;
	font-size: 1.4rem;
}
section.first .upper {
	position: relative;
}

section.first .floating-shit.heroin {
	left: 8%;
	top: -3rem;
	max-width: 130px;
}
section.first .floating-shit.nome {
	right: 8%;
	top: -3rem;
	max-width: 150px;
	/*transform: rotate(160deg);*/
}

section.first .logo-info-wrapper .logo {
	display: inline-block;
	margin-bottom: -1.1rem;
}
section.first .logo-info-wrapper p {
	display: inline-block;
	line-height: 1;
}


@media(max-width: 1000px) {
	:root {
	}

	.standart-container {
		padding-left: .8rem;
		padding-right: .8rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

}